* {
  font-family: 'MuseoSansCyrl100', sans-serif;
  font-size: 16px;
  color: var(--font-color-1);
}

body {
  background-image: url('/emptyBackground.png');
  background-size: cover;
  background-position: center;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.container {
  width: 1190px;
  padding: 0 20px;
}
