@import url('./nullstyle.css');
@import url('./variables/colors.css');
@import url('./variables/borders.css');
@import url('./variables/gradients.css');
@import url('./variables/shadows.css');

@font-face {
  font-family: 'MuseoSansCyrl100';
  src: local('MuseoSansCyrl100'),
    url('src/fonts/MuseoSansCyrl100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSansCyrl300';
  src: local('MuseoSansCyrl300'),
    url('src/fonts/MuseoSansCyrl300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSansCyrl700';
  src: local('MuseoSansCyrl700'),
    url('src/fonts/MuseoSansCyrl700.woff') format('woff');
}
