.cards {
  position: absolute;
  top: 135px;
  right: 2px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 336px;
  z-index: 2;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 163px;
  cursor: pointer;
}

.cardTextPrimary {
  margin-top: 30px;
  margin-bottom: 12px;
  font-family: var(--bold-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 0.5;
}

.cardTextSecondary {
  color: var(--font-color-2);
}

.bottomLeftCard {
  background: var(--bottom-left-card-gradient);
}

.topLeftCard {
  background: var(--top-left-card-gradient);
}

.topRightCard {
  background: var(--top-right-card-gradient);
}

.bottomRightCard {
  background: var(--bottom-right-card-gradient);
}

/* animate card hover */

.bottomRightCard:hover {
  background: var(--bottom-right-card-hover-gradient);
}

.topRightCard:hover {
  background: var(--top-right-card-hover-gradient);
}

.topLeftCard:hover {
  background: var(--top-left-card-hover-gradient);
}

.bottomLeftCard:hover {
  background: var(--bottom-left-card-hover-gradient);
}

.cardTextPrimaryDarkened {
  color: var(--card-text-primary-darkened-color);
}

.yearAbbreviation {
  font-family: inherit;
  font-size: 12px;
}

/* animated border */

.card::after,
.card::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 1px;
  width: 1px;
  opacity: 0;
  transition: 0.3s all ease-out;
}

.card::after {
  height: 100%;
}

.card::before {
  width: 100%;
}

.card:hover::after,
.card:hover::before {
  opacity: 1;
  transition: 0.3s all ease-in;
}

.topLeftCard::after,
.bottomLeftCard::after,
.topLeftCard::before,
.bottomLeftCard::before {
  left: unset;
  right: 0;
}

.bottomRightCard::after,
.bottomRightCard::before,
.bottomLeftCard::after,
.bottomLeftCard::before {
  top: 0;
}

.bottomRightCard::after {
  background: var(--card-bottom-right-background-border-after-gradient);
}

.bottomRightCard::before {
  background: var(--card-bottom-right-background-border-before-gradient);
}

.topRightCard::after {
  background: var(--card-top-right-background-border-after-gradient);
}

.topRightCard::before {
  background: var(--card-top-right-background-border-before-gradient);
}

.bottomLeftCard::after {
  background: var(--card-bottom-left-background-border-after-gradient);
}

.bottomLeftCard::before {
  background: var(--card-bottom-left-background-border-before-gradient);
}

.topLeftCard::after {
  background: var(--card-top-left-background-border-after-gradient);
}

.topLeftCard::before {
  background: var(--card-top-left-background-border-before-gradient);
}

@media screen and (width <= 1107px) {
  .cards {
    top: 251px;
    right: 0;
    width: auto;
  }

  .card {
    width: 140px;
    height: 140px;
  }

  .card:hover {
    background: var(--card-hover-background-color);
    transition: 0.3s all ease-in-out;
  }

  .card::after,
  .card::before {
    display: none;
  }

  .mainContent::after {
    top: -271px;
    left: -387px;
  }

  .mainContent::before {
    display: none;
  }

  .cardTextPrimary {
    margin-top: 25px;
    font-size: 44px;
  }

  .cardTextPrimaryDarkened {
    color: inherit;
  }
}

@media screen and (width <= 725px) {
  .cards {
    justify-content: center;
  }
}

@media screen and (width <= 614px) {
  .card {
    width: 120px;
    height: 120px;
  }

  .cardTextPrimary {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 30px;
  }

  .mainContent::after {
    top: -301px;
    left: -472px;
    transform: scale(0.7);
  }
}

@media screen and (width <= 382px) {
  .mainContent::after {
    top: -348px;
    left: -507px;
    transform: scale(0.5);
  }
}
