.journey {
  position: absolute;
  top: 162px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.journeyTextUppercase {
  background: var(--journey-text-uppercase-background-gradient);
  font-family: 'MuseoSansCyrl700', sans-serif;
  font-size: 57px;
}

.journeyTextLowercase {
  background: var(--journey-text-lowercase-background-gradient);
  font-family: 'MuseoSansCyrl300', sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.journeyTextUppercase,
.journeyTextLowercase {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (width <= 1107px) {
  .journey {
    top: 0;
    right: 0;
  }

  .journeyTextUppercase {
    font-size: 46px;
  }

  .journeyTextLowercase {
    text-align: end;
    font-size: 20px;
  }
}

@media screen and (width <= 614px) {
  .journeyTextUppercase {
    font-size: 40px;
  }

  .journeyTextLowercase {
    font-size: 18px;
  }
}

@media screen and (width <= 480px) {
  .journeyTextUppercase {
    font-size: 32px;
  }

  .journeyTextLowercase {
    font-size: 14px;
  }
}
