.mainWrapper {
  display: flex;
  justify-content: center;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  position: relative;
  width: 100%;
}

.journey {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 162px;
  z-index: 2;
}

.mainContent::after {
  content: '';
  position: absolute;
  left: 77px;
  width: 980px;
  height: 724px;
  background: url('/planet.png');
  background-repeat: no-repeat;
}

.mainContent::before {
  content: '';
  position: absolute;
  top: 125px;
  left: 357px;
  width: 383px;
  height: 383px;
  background: url('/planet2.png');
  background-repeat: no-repeat;
  z-index: 3;
}

.journeyUppercase {
  font-family: 'MuseoSansCyrl700', sans-serif;
  font-size: 54px;
  background: linear-gradient(to right, #ffffff 20%, #ff4005);
}

.journeyLowercase {
  font-family: 'MuseoSansCyrl300', sans-serif;
  font-size: 23px;
  font-weight: 300;
  background: linear-gradient(to right, #ffffff, #ff4005);
}

.journeyUppercase,
.journeyLowercase {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cards {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 336px;
  top: 135px;
  right: 2px;
  gap: 10px;
  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 163px;
  height: 163px;
}

.cardTextPrimary {
  font-family: 'MuseoSansCyrl700', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.cardTextSecondary {
  color: var(--font-color-2);
}

.rightTopGradient {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(189, 189, 189, 0.075) 100%
  );
}

.rightBottomGradient {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(189, 189, 189, 0.075) 100%
  );
}

.leftBottomGradient {
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(189, 189, 189, 0.075) 100%
  );
}

.leftTopGradient {
  background: linear-gradient(
    320deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(189, 189, 189, 0.075) 100%
  );
}

.cardTextPrimaryGrey {
  color: #bcbcbc;
}

.startJourneyButton {
  position: absolute;
  top: 355px;
  padding: 11px 24px;
  background-color: transparent;
  border: 1px solid white;
}

.arrowAngle {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    50%,
    rgb(255, 255, 255) 100%
  );
  width: 300px;
  flex-grow: 1;
  height: 1px;
  transition: 0.3s all ease-in;
  position: absolute;
  left: 247px;
  top: 62px;
}

.arrowAngle::after {
  position: absolute;
  right: -6px;
  transform: translateY(-50%);
  content: '';
  height: 6px;
  width: 6px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
}

.arrowAngle::before {
  position: absolute;
  right: -24px;
  top: 5px;
  transform: translateY(-50%);
  content: '';
  height: 112px;
  width: 38px;
  background: url('/rocket.png');
}

.arrowHorizontal {
  position: absolute;
  top: 87px;
  left: 187px;
  width: 70px;
  transform: rotate(45deg);
  margin-top: -50px;
  margin-right: -10px;
  height: 1px;
  transition: 0.3s all ease-in;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    75%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.startJourney {
  position: absolute;
  top: 367px;
  z-index: 3;
}

.button {
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  align-self: flex-start;
  background-color: rgba(22, 21, 29, 0.5);
  padding: 10px 25px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  position: relative;
}

.button .borderOne,
.button .borderTwo,
.button .lineOne,
.button .lineTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button .borderOne::after,
.button .borderOne::before,
.button .borderTwo::after,
.button .borderTwo::before {
  transition: 0.2s ease-out;
}

.button .borderTwo {
  transform: rotate(180deg);
}

.button .borderOne::after,
.button .borderTwo::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
}

.button .borderOne::after {
  width: 4%;
}

.button .borderOne::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  height: 23%;
}

.button .borderTwo::after {
  width: 4%;
}

.button .borderTwo::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  height: 23%;
}

.button:hover .borderOne::after,
.button:hover .borderTwo::after,
.button:hover .borderOne::before,
.button:hover .borderTwo::before {
  transition: 0.6s ease-in-out;
}

.button:hover .borderOne::after,
.button:hover .borderTwo::after {
  width: 75%;
}

.button:hover .borderOne::before,
.button:hover .borderTwo::before {
  height: 75%;
}

.button .lineOne,
.button .lineTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button .lineOne::after,
.button .lineOne::before,
.button .lineTwo::after,
.button .lineTwo::before {
  opacity: 0.8;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #23599c;
  transition: 0.3s all ease-out;
}

.button:hover .lineOne::after,
.button:hover .lineOne::before,
.button:hover .lineTwo::after,
.button:hover .lineTwo::before {
  transition: 0.6s all ease-in;
  opacity: 1;
}

.button .lineOne::after,
.button .lineTwo::after {
  height: 100%;
}

.button .lineOne::before,
.button .lineTwo::before {
  width: 100%;
}

.button .lineOne::after {
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0) 0%,
    35%,
    #23599c 100%
  );
}

.button .lineOne::before {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    50%,
    #23599c 100%
  );
}

.button .lineTwo::after {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    35%,
    #23599c 100%
  );
}

.button .lineTwo::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    50%,
    #23599c 100%
  );
}

.arrows {
  position: absolute;
}

@media screen and (max-width: 1107px) {
  .cards {
    width: auto;
    top: 251px;
    right: 0;
  }

  .startJourney {
    transform: scaleX(-1);
    left: 332px;
    top: 111px;
  }

  .button p {
    transform: scaleX(-1);
  }

  .arrowAngle {
    width: 200px;
  }

  .mainContent::after {
    top: -271px;
    left: -387px;
  }

  .mainContent::before {
    display: none;
  }

  .journey {
    right: 0;
    top: 0;
  }

  .journeyUppercase {
    font-size: 46px;
  }

  .journeyLowercase {
    font-size: 20px;
    text-align: end;
  }

  .cardTextPrimary {
    font-size: 34px;
  }
}

@media screen and (max-width: 725px) {
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 614px) {
  .arrowAngle {
    width: 100px;
  }

  .startJourney {
    left: 233px;
  }

  .journeyUppercase {
    font-size: 40px;
  }

  .journeyLowercase {
    font-size: 18px;
  }

  .card {
    width: 120px;
    height: 120px;
  }

  .cardTextPrimary {
    font-size: 30px;
  }

  .mainContent::after {
    top: -301px;
    left: -472px;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 480px) {
  .startJourney {
    left: 108px;
  }

  .arrowAngle {
    width: 10px;
  }

  .journeyUppercase {
    font-size: 32px;
  }

  .journeyLowercase {
    font-size: 14px;
  }
}

@media screen and (max-width: 382px) {
  .mainContent::after {
    top: -348px;
    left: -507px;
    transform: scale(0.5);
  }

  .button {
    padding: 5px;
  }

  .button p {
    font-size: 14px;
  }

  .arrowHorizontal,
  .arrowAngle,
  .arrowAngle::after,
  .arrowAngle::before {
    display: none;
  }

  .startJourney {
    left: 97px;
  }
}

@media screen and (max-width: 265px) {
  .startJourney {
    left: 43px;
  }
}
