.startJourneyButton {
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  align-self: flex-start;
  background-color: rgba(22, 21, 29, 0.5);
  padding: 10px 25px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  position: relative;
}

.startJourneyButton .borderOne,
.startJourneyButton .borderTwo,
.startJourneyButton .lineOne,
.startJourneyButton .lineTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.startJourneyButton .borderOne::after,
.startJourneyButton .borderOne::before,
.startJourneyButton .borderTwo::after,
.startJourneyButton .borderTwo::before {
  transition: 0.2s ease-out;
}

.startJourneyButton .borderTwo {
  transform: rotate(180deg);
}

.startJourneyButton .borderOne::after,
.startJourneyButton .borderTwo::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
}

.startJourneyButton .borderOne::after {
  width: 4%;
}

.startJourneyButton .borderOne::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  height: 23%;
}

.startJourneyButton .borderTwo::after {
  width: 4%;
}

.startJourneyButton .borderTwo::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #ffffff;
  height: 23%;
}

.startJourneyButton:hover .borderOne::after,
.startJourneyButton:hover .borderTwo::after,
.startJourneyButton:hover .borderOne::before,
.startJourneyButton:hover .borderTwo::before {
  transition: 0.6s ease-in-out;
}

.startJourneyButton:hover .borderOne::after,
.startJourneyButton:hover .borderTwo::after {
  width: 75%;
}

.startJourneyButton:hover .borderOne::before,
.startJourneyButton:hover .borderTwo::before {
  height: 75%;
}

.startJourneyButton .lineOne,
.startJourneyButton .lineTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.startJourneyButton .lineOne::after,
.startJourneyButton .lineOne::before,
.startJourneyButton .lineTwo::after,
.startJourneyButton .lineTwo::before {
  opacity: 0.8;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #23599c;
  transition: 0.3s all ease-out;
}

.startJourneyButton:hover .lineOne::after,
.startJourneyButton:hover .lineOne::before,
.startJourneyButton:hover .lineTwo::after,
.startJourneyButton:hover .lineTwo::before {
  transition: 0.6s all ease-in;
  opacity: 1;
}

.startJourneyButton .lineOne::after,
.startJourneyButton .lineTwo::after {
  height: 100%;
}

.startJourneyButton .lineOne::before,
.startJourneyButton .lineTwo::before {
  width: 100%;
}

.startJourneyButton .lineOne::after {
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0) 0%,
    35%,
    #23599c 100%
  );
}

.startJourneyButton .lineOne::before {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    50%,
    #23599c 100%
  );
}

.startJourneyButton .lineTwo::after {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    35%,
    #23599c 100%
  );
}

.startJourneyButton .lineTwo::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    50%,
    #23599c 100%
  );
}

@media screen and (max-width: 1107px) {
  .startJourneyButton p {
    transform: scaleX(-1);
  }
}

@media screen and (max-width: 382px) {
  .startJourneyButton {
    padding: 5px;
  }

  .startJourneyButton p {
    font-size: 14px;
  }
}
