.startJourneyButton {
  position: relative;
  padding: 10px 25px;
  width: fit-content;
  align-self: flex-start;
  white-space: nowrap;
  background-color: var(--start-journey-button-background-color);
  font-size: 14px;
  font-weight: 100;
  color: var(--font-color-1);
  cursor: pointer;
  transform: scaleX(-1);
}

.startJourneyButton p {
  transform: scaleX(-1);
}

.startJourneyButton .firstBorder,
.startJourneyButton .secondBorder,
.startJourneyButton .firstLine,
.startJourneyButton .secondLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.startJourneyButton .firstBorder::after,
.startJourneyButton .firstBorder::before,
.startJourneyButton .secondBorder::after,
.startJourneyButton .secondBorder::before {
  transition: 0.2s ease-out;
}

.startJourneyButton .secondBorder {
  transform: rotate(180deg);
}

.startJourneyButton .firstBorder::after,
.startJourneyButton .secondBorder::after {
  position: absolute;
  width: 1px;
  height: 1px;
  content: '';
  background-color: var(--font-color-1);
}

.startJourneyButton .firstBorder::after {
  width: 7px;
  box-shadow: var(--start-journey-button-shadow);
}

.startJourneyButton .firstBorder::before {
  position: absolute;
  width: 1px;
  height: 7px;
  content: '';
  background-color: var(--font-color-1);
}

.startJourneyButton .secondBorder::after {
  width: 7px;
  box-shadow: var(--start-journey-button-shadow);
}

.startJourneyButton .secondBorder::before {
  position: absolute;
  width: 1px;
  height: 7px;
  content: '';
  background-color: var(--font-color-1);
}

.startJourneyButton:hover .firstBorder::after,
.startJourneyButton:hover .secondBorder::after,
.startJourneyButton:hover .firstBorder::before,
.startJourneyButton:hover .secondBorder::before {
  transition: 0.3s ease-in-out;
}

.startJourneyButton:hover .firstBorder::after,
.startJourneyButton:hover .secondBorder::after {
  width: 100%;
}

.startJourneyButton:hover .firstBorder::before,
.startJourneyButton:hover .secondBorder::before {
  height: 100%;
}

.startJourneyButton .firstLine::after,
.startJourneyButton .firstLine::before,
.startJourneyButton .secondLine::after,
.startJourneyButton .secondLine::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  content: '';
  opacity: 0.8;
  background-color: var(--start-journey-button-border-color);
  transition: 0.3s all ease-out;
}

.startJourneyButton .firstLine::after,
.startJourneyButton .secondLine::after {
  height: 100%;
}

.startJourneyButton .firstLine::before,
.startJourneyButton .secondLine::before {
  width: 100%;
}

.startJourneyButton .secondLine::before,
.startJourneyButton .secondLine::after {
  top: 0;
  right: 0;
  left: unset;
}

.startJourneyButton .firstLine::after {
  background: linear-gradient(
    175deg,
    rgb(255 255 255 / 0%) 0%,
    40%,
    var(--start-journey-button-border-color) 100%
  );
}

.startJourneyButton .firstLine::before {
  background: linear-gradient(
    270deg,
    rgb(255 255 255 / 0%) 0%,
    40%,
    var(--start-journey-button-border-color) 100%
  );
}

.startJourneyButton .secondLine::after {
  background: linear-gradient(
    360deg,
    rgb(255 255 255 / 0%) 0%,
    40%,
    var(--start-journey-button-border-color) 100%
  );
}

.startJourneyButton .secondLine::before {
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    40%,
    var(--start-journey-button-border-color) 100%
  );
}

.startJourneyButton:hover .firstLine::after,
.startJourneyButton:hover .firstLine::before,
.startJourneyButton:hover .secondLine::after,
.startJourneyButton:hover .secondLine::before {
  opacity: 0;
  transition: 0.3s all ease-in;
}

@media screen and (width <= 1107px) {
  .startJourneyButton p {
    transform: scaleX(1);
  }
}

@media screen and (width <= 382px) {
  .startJourneyButton {
    padding: 5px;
  }

  .startJourneyButton p {
    font-size: 14px;
  }
}
