.startJourney {
  position: absolute;
  top: 367px;
  z-index: 3;
}

.arrowHorizontal {
  position: absolute;
  top: 87px;
  left: 187px;
  margin-top: -50px;
  margin-right: -10px;
  width: 70px;
  height: 1px;
  background: linear-gradient(
    135deg,
    rgb(255 255 255 / 0%) 0%,
    75%,
    rgb(255 255 255 / 50%) 100%
  );
  transform: rotate(45deg);
  transition: 0.3s all ease-in;
}

.arrowAngle {
  position: absolute;
  top: 62px;
  left: 247px;
  flex-grow: 1;
  width: 300px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 50%) 0%,
    50%,
    rgb(255 255 255) 100%
  );
  transition: 0.3s all ease-in;
}

.arrowAngle::after {
  position: absolute;
  right: -6px;
  height: 6px;
  width: 6px;
  content: '';
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: transparent;
  transform: translateY(-50%);
}

.arrowAngle::before {
  position: absolute;
  top: 5px;
  right: -24px;
  height: 112px;
  width: 38px;
  content: '';
  background: url('/rocket.png');
  transform: translateY(-50%);
}

@media screen and (width <= 1107px) {
  .startJourney {
    top: 111px;
    left: 332px;
    transform: scaleX(-1);
  }

  .arrowAngle {
    width: 200px;
  }
}

@media screen and (width <= 614px) {
  .startJourney {
    left: 233px;
  }

  .arrowAngle {
    width: 100px;
  }
}

@media screen and (width <= 480px) {
  .startJourney {
    left: 108px;
  }

  .arrowAngle {
    width: 10px;
  }
}

@media screen and (width <= 382px) {
  .startJourney {
    left: 97px;
  }

  .arrowHorizontal,
  .arrowAngle,
  .arrowAngle::after,
  .arrowAngle::before {
    display: none;
  }
}

@media screen and (width <= 265px) {
  .startJourney {
    left: 43px;
  }
}
