.wrapper {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 42px;
}

.link {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  max-width: 100%;
  content: '';
  border-bottom: 1px solid var(--font-color-2);
  visibility: hidden;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.link:hover::after {
  width: 100%;
  visibility: visible;
}

.link:hover {
  color: var(--font-color-2);
}

.select {
  position: relative;
  display: none;
  width: 32px;
  height: 32px;
  background: url('/menu.png');
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: none;
  right: 0;
  gap: 10px;
  padding: 32px 5px 5px;
  background-color: transparent;
  z-index: 9999;
}

.dropdown li:not(:last-child) {
  margin-bottom: 10px;
}

.dropdownLinksWrapper {
  padding: 5px;
  background-color: #081018de;
  border: var(--general-border);
}

.select:hover .dropdown,
.dropdown:hover {
  display: block;
}

@media screen and (width <= 1107px) {
  .select {
    display: block;
    z-index: 9999;
  }

  .links {
    display: none;
  }

  .wrapper {
    visibility: visible;
  }
}
