.wrapper {
  display: flex;
  justify-content: center;
  border: var(--general-border);
  background-color: var(--header-wrapper-background-color);
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.logoButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 100px;
  border: var(--logo-button-border);
  background: var(--logo-button-background-color);
  transition: all 0.3s ease;
}

.logoButton::before,
.logoButton::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  background: var(--border-color);
  transform: translate(-50%, -50%);
}

.logoButton::before {
  left: 156px;
  width: 316px;
  height: 80%;
  border-left: var(--logo-border);
  border-right: var(--logo-border);
  background: var(--logo-button-background-color);
  transition: height 0.3s;
}

.logoButton::after {
  height: 100px;
  width: 93%;
  border-top: var(--general-border);
  border-bottom: var(--general-border);
  background: var(--logo-button-background-color);
  transition: width 0.3s;
}

.logoButton:hover::before {
  height: 0;
}

.logoButton:hover::after {
  width: 0;
}

.logo {
  padding-bottom: 10px;
}

@media screen and (width <= 1107px) {
  .logoButton {
    width: 157px;
    height: 50px;
  }

  .logo {
    transform: scale(0.5);
  }
}

@media screen and (width <= 1107px) {
  .wrapper {
    visibility: hidden;
  }
}
